@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: #2C2C2C;
    background:#e5e5e5;
}
.wrapper {
    width:1280px;
    padding: 45px 100px 30px;
    margin:0 auto;
    background: white;
}
header .logo {
    font-size: 80px;
    font-weight: 400;
    margin-bottom: 40px;
}
header .logo a {
    color:black;
    text-decoration: none;
}
.blue-text {
    color: #4BCAFF;
}
.navbar-header {
    background: #35444F;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.navbar-header a {
    color:#fff;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    text-decoration: none;
    padding: 20px 35px;
    border-right: 1px solid white;
}
.navbar-header a:hover {
    background: #222f3a;
}
.navbar-header a:first-child {
    border-left: 1px solid white;
}
main {
    display: flex;
    align-items:flex-start;
    padding-bottom: 10px;
}
.sidebar-menu {
    min-width: 342px;
    max-width: 342px;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-right: 52px;
    flex:0 1 auto;
}
.content {
    flex:1 1 auto;
}
.main-image {
    border: 1px solid #000;
    min-height: 529px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap:wrap;
    margin-bottom: 40px;
}
.main-image img {
    transition: transform 0.25s;
}
.main-image:hover img {
    transform: scale(1.1);
}
.sidebar-menu {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.sidebar-menu a {
   display: block;
    box-sizing: border-box;
    padding:25px 40px 25px 45px;
    font-size: 27px;
    font-weight: 400;
    color: #495863;
    text-decoration: none;
    border-bottom:1px solid white;
    flex-basis:100%;
}
.sidebar-menu a:hover,
.sidebar-menu a.active {
    color: #000;
    background: #dbdbdb;
    padding-left:70px;
}
.sidebar-menu a:last-child {
    border-bottom:none;
}
.content-text {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}
.content-text p {
    margin-bottom: 35px;
}
footer {
    background: #b5b7ba;
    padding: 20px 40px 5px;
    box-sizing: border-box;
    min-height: 70px;
    display: flex;
    align-items: baseline;
}
.navbar-footer {
    display: flex;
    /*width: 70%;*/
    flex:3 1 auto;
}
.navbar-footer a {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    text-decoration: none;
    padding: 0px 0 15px;
    margin-right: 30px;
}
.navbar-footer a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.navbar-footer a:last-child {
    margin-right: 0;
}
footer .copyright {
    /*width: 30%;*/
    text-align: right;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    flex:0 1 auto;
    align-self:baseline;
}